*{
    margin:0;
    padding:0;
    
}
.navbar{
    position: fixed;
    top:0px;
}
.contactUs{
   
    font-family: 'Playfair Display', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Rubik Vinyl', cursive;
    font-family: 'Ubuntu', sans-serif;
    

   
}
.contactUs h1{
    margin: auto;
    margin-top: 30px;

}
.act{
    border-bottom:orange 2px solid;
    width:200px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.provost{
   
   margin:90px 100px 100px;
   
    
}
.provostDetails{
    background-color: rgb(67, 200, 230);
   text-align: center;
    color: rgb(30, 8, 8);
    color: white;
    padding: 40px;
}
.provostDetails h2{
    font-family: 'Playfair Display', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Rubik Vinyl', cursive;
    font-family: 'Ubuntu', sans-serif;
    
}
.footer{
   
    
    
}
@media screen and (min-width:1200px) {
    .footer{
        position: fixed;
        bottom: 0px;
    }
    
}

@media screen and (max-width:420px) {
    .provostDetails{
        padding: 30px;
    
    }
    .provost{
        
        text-align: center;
        margin: 40px;
    }
    .footer{
        position: fixed;
        bottom: 0px !important;
    }
    
}
@media screen and (max-width:317px) {
    .provost{
        margin: 45px;
        padding: 10px;

    }
    .provostDetails{
        padding: 20px;
        text-align: center;
    
    }
    .act{
        width:170px;
    }
    .footer{
        position: relative;
    }
    
  
}
@media screen and (max-width:260px){
    .provost{
        margin: 10px;
        padding: 20px;
        

    }
    .footer{
        position: relative;
    }
    
}