*{
    margin:0;
    padding:0;
    
}
.navbar{
    position: sticky;
    top:0px;
}
.contactUs{
   
    font-family: 'Playfair Display', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Rubik Vinyl', cursive;
    font-family: 'Ubuntu', sans-serif;
    

   
}
 h1{
    margin: 0px auto auto;
    margin-top: 20px;
    

}
.act{
    border-bottom:orange 2px solid;
    width:200px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.provost{
   
   margin:90px 100px 100px;
   
    
}
.provostDetails{
    background-color: rgb(67, 200, 230);
   text-align: center;
    color: rgb(30, 8, 8);
    color: white;
    padding: 40px;
}
.provostDetails h2{
    font-family: 'Playfair Display', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Rubik Vinyl', cursive;
    font-family: 'Ubuntu', sans-serif;
    
}
.footer{
   position: fixed;
   bottom: 0px;
    
    
}
@media screen and (max-width:450px){
    .provost{
        margin: 50px 20px 50px;
    }
    
}
@media screen and (max-width:260px){
    
   
    
}
@media screen and (min-width:1200px){
    .footer{
        position: fixed;
        bottom:0px;
    }
    
}