*{
    margin:0;
    padding:0;

    
}
header{
    position: sticky !important;
}
.header{
    
}
.navbar{
    
    
}
.container{
    background-color: rgb(86, 191, 193);
    
    display: grid;
    grid-template-columns: 3 1fr;
    grid-template-rows: 3 1fr;
    margin: 50px auto 50px auto;
    justify-items: center;
    width:50%;
    border-radius: 10px;
    
    
    
}
form{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    text-align: center;
    padding: 10px;
    margin: 30px;
    
    font-family: 'Playfair Display', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Rubik Vinyl', cursive;
    font-family: 'Ubuntu', sans-serif;
    
}
label{
    color: white;
    
}
input{
    width: 500px;
    padding:10px;
    border-radius: 5px;
    border: none;

    margin-bottom: 5px;
    margin-top: 5px;

}
.depart{
    display: flex;
    flex-direction: column;
}
.depart label{

}
.Semister{
    display: flex;
    flex-direction: column;
}
form .depBatch{
    
    
    display: flex;
    

    flex-direction: column;
    
}
form .depBatch label{
    
}
form .depBatch .dep{
    padding:10px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    width:500px;
    background-color: white;
}
form .semister .dep{
    margin-top: 5px;
}
.next button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
}

.payment img{
    border-radius: 100%;
}
.footer{
    width: 100%;
    
    bottom:0px;
    
}
@media screen and (max-width:1200px){
    input{
        width:100%;
    }
    .regis{
        text-align: center;
        

    }
   form .depBatch .dep{
        width:200px;
        margin-left: 10px;
    }
    
}
@media screen and (max-width:750px){
    .container{
        width:80%;
    }
  
    
    
}
@media screen and (max-width:360px){
    .container{
        width:90%;
    
    }
    input{
        width:150px;
    }
    form .depBatch .dep{
        width:150px;
        margin-left: 0px;
    }

  
    
    
}
@media screen and (max-width:250px){
    .container{
        width:90%;
    
    }
    input{
        width:100px;
    }
    form .depBatch .dep{
        width:100px;
        margin-left: 0px;
    }

  
    
    
}
