*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.navbar{
    

       position: sticky !important;
       top:0px;
    
    
}
.provost{
    
    width: 50%;
     text-align: center;
    color: white;
    font-family: 'Playfair Display', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Rubik Vinyl', cursive;
    
    margin: auto;


}

.provostHeader h1{
    
    

}
.provost img{
    width:100px;
    height:100px;
    margin-top: 10px;
}


.provostHeader .act{
    border-bottom:orange 2px solid;
    width:200px;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.provostDetails{
    
    padding: 20px;
    background-color: rgb(86, 191, 195);
}
.footer{
    position:fixed !important;
    bottom: 0px !important;
    
}
.icons :hover{
    background-color: white;
}

@media screen and (max-width:2000px){
 
    .provost{
        
                
       }
}
@media screen and (max-width:450px){
   .provost{
    width: 100%;
    padding: 10px;
   }
   .footer{
    position: fixed !important;
    bottom: 0px !important;
   }
   
    
    
}
@media screen and (max-width:350px){
   
    
        
       .provost{
        width: 100%;
        margin: 5px 0px 5px;
       
       }

     
       
   
    
}
